@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:300,700);

body {
	font-family: 'Poppins', Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-size: 0;
	max-width: auto;
}

h3, h1{
	font-size: 25px;
	line-height: 1.6;
	font-weight: 700;
	color: #212529;
	padding-left: 20px;
}

.first-h {
	max-width: 406px;
	margin: 0 auto 40px;
}
.second-h {
	max-width: 605px;
	margin: 0 auto 40px;
}

p {
	margin: 0 auto;
	max-width: 816px;
	font-size: 14px;
	line-height: 25px;
	padding-bottom: 25px;
	color: #6C757D;
	padding-left: 20px;
}

.img {
	max-width: 100%;
	margin: 0 auto 80px;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}
.image {
	display: inline;
	max-width: 605px;
	word-spacing: 30px;
	margin: 100px;
}
.img-2 {
	margin-top: 55px;
	margin-bottom: 80px;
}
.img-3 {
	margin-top: 55px;
	margin-bottom: 80px;
}


.first {
	margin-bottom: 30px;
}
.second {
	margin-top: 40px;
}
.image5{
	max-width: 300px;
	margin: auto;
}
.p-vertical-align {
	display: inline-block;
	/*vertical-align: middle;*/
	vertical-align: bottom;
	/*vertical-align: top;*/
	margin-right: 50px;
}

.linkedin{
	color: black;
	font-size: 25px;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 70px;
}